{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}

{% block text %}
{% trans "Confirm E-mail" %}
{% endblock %}

{% block content %}
<div class="card col-md-6 offset-md-3 bg-light">
	<article class="card-body">
		<a href="{{ signup_url }}" class="float-right btn btn-outline-primary">Sign up</a>
		<h4 class="card-title mb-4 mt-1">{% trans "Confirm Your E-mail Address" %}</h4>
{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a class="btn btn-primary btn-block" href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <button class="btn btn-primary btn-block" type="submit">{% trans 'Confirm' %}</button>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a class="btn btn-primary btn-block" href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

{% endif %}
  </article>
</div>
{% endblock %}
