{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block text %}
{% trans "Sign Up Closed" %}
{% endblock %}

{% block content %}
<div class="card col-md-6 offset-md-3 bg-light">
    <article class="card-body">
        <a href="{{ login_url }}" class="float-right btn btn-outline-primary">Sign in</a>
        <h4 class="card-title mb-4 mt-1">{% trans "Closed!" %}</h4>
		<p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
  	</article>
</div>
{% endblock %}
