/* messages */
ul.messages {
    margin:10px 100px;
    padding:0;
    list-style-type:
    none;
}
ul.messages li.success,
ul.messages li.warning,
ul.messages li.error,
ul.messages li.info {
    margin:0;
    padding:14px 20px;
    list-style:none;
    color:#fff;
}

ul.messages li.success { background:#81ce81; }
ul.messages li.success a { color:#0ac33e; }

ul.messages li.error { background:#a30029; color:#e9828e; }
ul.messages li.error a { color:#e9828e; }

ul.messages li.info { background:#faffae; color:#696b4e; }
ul.messages li.info a { color:#1586de; }

ul.messages li.warning { background:#de9404; }
ul.messages li.warning a { color:#f49000; }

ul.messages li a.close {
    margin:0;
    float:right;
    opacity:1;
    border:0;
    box-shadow:none;
    text-shadow:none;
}

.list-group-item .post-img {
  display: block;
  overflow: hidden;
}

.post-img>img {
  width: 100%;
  -webkit-transition: 1.6s -webkit-transform;
  transition: 1.6s -webkit-transform;
  transition: 1.6s transform;
  transition: 1.6s transform, 1.6s -webkit-transform;
  border-radius: 4px;
}

a.text-gray-600:hover{
  color: #3a3b45 !important;
  text-decoration: underline;
}

.list-basic {
  display: block;
}

.avatar{
  width:150px;
  height:150px;
  background-size:cover;
  background-repeat:no-repeat;
  margin:auto;
  border-radius:100px;
  margin-bottom:30px
}

.about-me{
  max-width:800px;
  margin:0 auto
}

.about-me p {
  line-height: 1.5;
  font-size: 1.4em;
}

.portfolio-block{
  padding-bottom:60px;
  padding-top:60px
}

.portfolio-block .heading{
  margin-bottom:50px;
  text-align:center
}

.portfolio-block .heading h2{
  font-weight:700;font-size:1.4rem;
  text-transform:uppercase
}.portfolio-block .heading p{
  text-align:center;
  max-width:420px;
  margin:auto;
  opacity:.7
}

.portfolio-block.block-intro{
  text-align:center
}

.portfolio-block.block-intro .about-me{
  max-width:800px;
  margin:0 auto
}

.portfolio-block.block-intro p{
  font-size:1.5em;
  font-weight:300;
  margin-bottom:30px
}

.portfolio-block.block-intro .avatar{
  width:150px;
  height:150px;
  background-size:cover;
  background-repeat:no-repeat;
  margin:auto;
  border-radius:100px;
  margin-bottom:30px
}

.zoom-on-hover:hover .image{
  -webkit-transform:scale(1.3);
  transform:scale(1.3);
  opacity:.7
}

.portfolio-block.photography .item{
  overflow:hidden;
  margin-bottom:0;
  background:#000;
  opacity:1
}

.portfolio-block.photography .item a img{
  transition:.8s ease
}

.special-skill-item{
  margin-bottom:30px;
  text-align:center
}

.special-skill-item .icon{
  text-align:center;
  font-size:50px;
  background-color:#0ea0ff;
  color:#fff;
  height:70px;
  width:70px;
  line-height:69px;
  display:inline-block;
  border-radius:50%
}

.special-skill-item h3{
  font-size:1.3em;
  font-weight:700;
  margin-bottom:10px
}

.special-skill-item p{
  color:#8e8e8e
}

.portfolio-block.call-to-action{
  padding-top:60px;
  padding-bottom:60px
}

.portfolio-block.call-to-action .content{
  -ms-flex-direction:column;
  flex-direction:column
}